@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --rich-black: #11151C;
  --prussian-blue: #212D40;
  --charcoal: #364156;
  --french-gray: #ACADBC;
  --isabelline: #EFE9E7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-rich-black: var(--rich-black);
  --color-prussian-blue: var(--prussian-blue);
  --color-charcoal: var(--charcoal);
  --color-french-gray: var(--french-gray);
  --color-isabelline: var(--isabelline);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
